<table class="govuk-table">
    <!-- <caption class="govuk-table__caption govuk-table__caption--m">Months and rates</caption> -->
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Surgery Name</th>
            <th scope="col" class="govuk-table__header">Surgery Location</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Wrythe Green Surgery</th>
            <td class="govuk-table__cell">Carshalton</td>
            <td scope="col">
                <button class="govuk-button" data-module="govuk-button" style="width:100%; margin-bottom: 0;">
                    Update
                </button>
            </td>
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Wrythe Green Surgery</th>
            <td class="govuk-table__cell">Carshalton</td>
            <td scope="col">
                <button class="govuk-button" data-module="govuk-button" style="width:100%; margin-bottom: 0;">
                    Update
                </button>
            </td>
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Wrythe Green Surgery</th>
            <td class="govuk-table__cell">Carshalton</td>
            <td scope="col">
                <button class="govuk-button" data-module="govuk-button" style="width:100%; margin-bottom: 0;">
                    Update
                </button>
            </td>
        </tr>

        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Wrythe Green Surgery</th>
            <td class="govuk-table__cell">Carshalton</td>
            <td scope="col">
                <button class="govuk-button" data-module="govuk-button" style="width:100%; margin-bottom: 0;">
                    Update
                </button>
            </td>
        </tr>

    </tbody>
</table>