<!DOCTYPE html>
<html lang="en" class="govuk-template ">

    <%- include('includes/head') %>

    <body class="govuk-template__body ">

        <%- include('includes/header') %>

        <div class="govuk-width-container">
            <a href="#" class="govuk-back-link">Back</a>
            <main class="govuk-main-wrapper">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <h1 class="govuk-heading-xl">Update GP Records</h1>
                       
                        <%- include('includes/gp-records') %>

                    </div>
                </div>
            </main>
        </div>

        <%- include('includes/footer') %>

    </body>

</html>